New Link
<form action="<%= links_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title:
    <input type="text" name="link[title]" value="<%= @link.title %>">
  </label>
  <label>URL:
    <input type="text" name="link[url]" value="<%= @link.url %>">
  </label>
  <label>Body:
    <input type="text" name="link[body]" value="<%= @link.body %>">
  </label>

  <% Sub.all.each do |sub| %>
  <label>
    <input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>">
    <%= sub.name %>
  </label>
  <% end %>

  <button>Create New Link</button>
</form>